<section class="profiles">
        <nav class="menu-profiles">
            <div class="title-menu-profile">
                <p class="text-menu-profile">Selecciona un perfil</p>
            </div>
        </nav>
        <div class="profiles-wrapper">
            <div id="becario" class="becario-container">
                <div class="becario-content-wrapper">
                    <div class="becario-text-wrapper">
                        <p class="becario-text">Becario</p>
                    </div>
                    <div id="becario-log" class="login-container hide">
                        <p class="text-login">Ingresa tu código</p>
                        <div class="password-wrapper">
                            <input class="password" type="password">
                        </div>
                        <div class="button-start-container">
                           <a href="#!/exam" ng-click="askCtrl.reiniciar()" class="button-start">Comenzar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="junior" class="junior-container">
                    <div class="junior-content-wrapper">
                        <div class="junior-text-wrapper">
                            <p class="junior-text">Junior</p>
                        </div>
                        <div id="junior-log" class="login-container hide">
                            <p class="text-login">Ingresa tu código</p>
                            <div class="password-wrapper">
                                <input class="password" type="password">
                            </div>
                            <div class="button-start-container">
                               <a href="#!/exam" ng-click="askCtrl.reiniciar()" class="button-start">Comenzar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="medio" class="medio-container">
                        <div class="medio-content-wrapper">
                            <div class="medio-text-wrapper">
                                <p class="medio-text">Medio</p>
                            </div>
                            <div id="medio-log" class="login-container hide">
                                <p class="text-login">Ingresa tu código</p>
                                <div class="password-wrapper">
                                    <input class="password" type="password">
                                </div>
                                <div class="button-start-container">
                                   <a href="#!/exam" ng-click="askCtrl.reiniciar()" class="button-start">Comenzar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="senior" class="senior-container">
                            <div class="senior-content-wrapper">
                                <div class="senior-text-wrapper">
                                    <p class="senior-text">Senior</p>
                                </div>
                                <div id="senior-log" class="login-container hide">
                                    <p class="text-login">Ingresa tu código</p>
                                    <div class="password-wrapper">
                                        <input class="password" type="password">
                                    </div>
                                    <div class="button-start-container">
                                       <a href="#!/exam" ng-click="askCtrl.reiniciar()" class="button-start">Comenzar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
        <div class="logo-profile-wrapper">
                <figure class="logo-profile">
                    <img class="logo-i" src="recursos/pantallas/i_innovasoft.png" alt="innovasoft">
                </figure>
        </div>
    </section>

